### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Ignore all files in the .idea folder
.idea/

# Except these files, which can be shared
!.idea/workspace.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/libraries/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store